* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
	background-color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;

}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


.navbar {
    background-color: #7c2d9940;
    z-index: 4;
    color: #e2d9d9;

}


.navLogo {
    font-family: 'Noto Sans JP', sans-serif;
    color: #491467;
    font-weight: 600;
}

.nav-link {
    display: inline-block;
    position: relative;
    color: #9900EF;
    font-family: 'Noto Sans JP', sans-serif;
}



.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9900EF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-lang-icon {
    text-decoration: none;
}

.logIn {
    text-decoration: none;
    color: #514f4f;
}

.logIn:link {
    text-decoration: none;
}

.logIn:visited {
    text-decoration: none;
}

.logIn:hover {
    text-decoration: none;
    color: #000;
}

.logIn:active {
    text-decoration: none;
}



/* ---------------------------------- */


.card {
    background-color: rgb(253, 253, 253);
    color: #2c0b32;
    border: none;
}

h1{
    color: #d895ff;
    font-size: 6rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}
.btn-link {
    color: #44006b;
}

.login-btn {
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
}

.login-btn span:last-child {
    display: none;
}

.login-btn:hover {
    border: 2px dashed #9900EF;
    background-color: #fff;
    color: #9900EF;
    transition: .4s;

}

.login-btn:active {
    background-color: #9900EF;
}

:root {
    --background: #d895ff;
    --primary: #d386ff;
    --secondary: #c789eb;
    --third: #c281e8;
}



#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 400px;
    width: 400px;
    z-index: -2;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 4s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 400px;
    transition: all 1s ease-in-out;
    width: 400px;
    z-index: -2;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
}


p a{
    color: #7d1aa4;
}