* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Noto Sans JP', sans-serif;

}

.navbar {
    background-color: #7c2d9940;
    z-index: 4;
    color: #e2d9d9;

}


.navLogo {
    font-family: 'Noto Sans JP', sans-serif;
    color: #491467;
    font-weight: 600;
}

.nav-link {
    display: inline-block;
    position: relative;
    color: #9900EF;
    font-family: 'Noto Sans JP', sans-serif;
}



.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9900EF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-lang-icon {
    text-decoration: none;
}

.logIn {
    text-decoration: none;
    color: #514f4f;
}

.logIn:link {
    text-decoration: none;
}

.logIn:visited {
    text-decoration: none;
}

.logIn:hover {
    text-decoration: none;
    color: #000;
}

.logIn:active {
    text-decoration: none;
}


#landing {
    background: #d895ff;
}

.bg-image img {
    opacity: 0.5;
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ffffff;
    font-size: 4rem;
    overflow: hidden;
    transform: translateY(-50%);
    border-right: 2px solid rgba(41, 23, 45, 0.75);
    white-space: nowrap;
}

.websiteName {
    color: #2a0a38;
}

.subTittle {
    color: #fff;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 3s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

.btn {
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    border: 2px dashed #9900EF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
}

.btn span:last-child {
    display: none;
}

.btn:hover {
    border: 2px dashed #9900EF;
    background-color: #fff;
    color: #9900EF;
}

.btn:active {
    background-color: #9900EF;
}

.row .custom-shape-divider-bottom-1681759319 {
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.row .custom-shape-divider-bottom-1681759319 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 167px;
}

.row .custom-shape-divider-bottom-1681759319 .shape-fill {
    fill: #9900EF;
}

h3,
h4 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #000;
}

i {
    font-size: 1rem;
    color: #000;
}

#howItWork {
    background-color: #d895ff;
}

.img-fluid {
    width: 15rem;
    box-shadow: 8px 8px 8px rgba(185, 131, 217, 0.507);
}



/* ----- */


#partnersSection {
    background-color: #d895ff;
    margin-top: 10rem;


}


.logosImg {
    max-width: 40%;
    text-align: center;

}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 88.47846889952152,135.20574162679426 176.95693779904303,104.41148325358853 271,117 C 365.04306220095697,129.58851674641147 464.6507177033493,185.5598086124402 569,214 C 673.3492822966507,242.4401913875598 782.4401913875598,243.3492822966507 881,215 C 979.5598086124402,186.6507177033493 1067.5885167464114,129.0430622009569 1159,116 C 1250.4114832535886,102.95693779904308 1345.2057416267944,134.47846889952154 1440,166 C 1440,166 1440,500 1440,500 Z");
    }

    25% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 77.44497607655498,197.444976076555 154.88995215310996,228.88995215311004 262,222 C 369.11004784689004,215.11004784688996 505.88516746411494,169.8851674641148 615,157 C 724.1148325358851,144.1148325358852 805.5693779904306,163.56937799043064 882,160 C 958.4306220095694,156.43062200956936 1029.8373205741627,129.83732057416267 1122,127 C 1214.1626794258373,124.16267942583731 1327.0813397129186,145.08133971291866 1440,166 C 1440,166 1440,500 1440,500 Z");
    }

    50% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 102.64114832535884,183.7511961722488 205.28229665071768,201.5023923444976 314,200 C 422.7177033492823,198.4976076555024 537.5119617224881,177.7416267942584 619,173 C 700.4880382775119,168.2583732057416 748.6698564593299,179.5311004784689 825,191 C 901.3301435406701,202.4688995215311 1005.8086124401914,214.13397129186603 1113,210 C 1220.1913875598086,205.86602870813397 1330.0956937799042,185.93301435406698 1440,166 C 1440,166 1440,500 1440,500 Z");
    }

    75% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 107.33014354066987,172.9377990430622 214.66028708133973,179.8755980861244 315,162 C 415.33971291866027,144.1244019138756 508.68899521531114,101.4354066985646 605,115 C 701.3110047846889,128.5645933014354 800.5837320574162,198.38277511961724 890,197 C 979.4162679425838,195.61722488038276 1058.976076555024,123.03349282296651 1149,106 C 1239.023923444976,88.96650717703349 1339.511961722488,127.48325358851675 1440,166 C 1440,166 1440,500 1440,500 Z");
    }

    100% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 88.47846889952152,135.20574162679426 176.95693779904303,104.41148325358853 271,117 C 365.04306220095697,129.58851674641147 464.6507177033493,185.5598086124402 569,214 C 673.3492822966507,242.4401913875598 782.4401913875598,243.3492822966507 881,215 C 979.5598086124402,186.6507177033493 1067.5885167464114,129.0430622009569 1159,116 C 1250.4114832535886,102.95693779904308 1345.2057416267944,134.47846889952154 1440,166 C 1440,166 1440,500 1440,500 Z");
    }
}


.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 65.70334928229664,362.70334928229664 131.40669856459328,392.4066985645933 244,394 C 356.5933014354067,395.5933014354067 516.0765550239233,369.0765550239234 619,347 C 721.9234449760767,324.9234449760766 768.2870813397129,307.287081339713 853,319 C 937.7129186602871,330.712918660287 1060.7751196172248,371.7751196172249 1165,379 C 1269.2248803827752,386.2248803827751 1354.6124401913876,359.6124401913876 1440,333 C 1440,333 1440,500 1440,500 Z");
    }

    25% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 94.07655502392345,358.48325358851673 188.1531100478469,383.9665071770335 272,386 C 355.8468899521531,388.0334928229665 429.46411483253587,366.61722488038276 529,341 C 628.5358851674641,315.38277511961724 753.9904306220095,285.5645933014354 870,295 C 986.0095693779905,304.4354066985646 1092.5741626794259,353.12440191387554 1186,366 C 1279.4258373205741,378.87559808612446 1359.712918660287,355.9377990430622 1440,333 C 1440,333 1440,500 1440,500 Z");
    }

    50% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 112.133971291866,298.28229665071774 224.267942583732,263.5645933014354 304,282 C 383.732057416268,300.4354066985646 431.0622009569379,372.02392344497605 535,387 C 638.9377990430621,401.97607655502395 799.4832535885168,360.3397129186603 911,356 C 1022.5167464114832,351.6602870813397 1085.0047846889952,384.61722488038276 1165,387 C 1244.9952153110048,389.38277511961724 1342.4976076555024,361.1913875598086 1440,333 C 1440,333 1440,500 1440,500 Z");
    }

    75% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 91.07177033492826,314.11961722488036 182.14354066985652,295.2392344497608 265,307 C 347.8564593301435,318.7607655502392 422.4976076555023,361.1626794258373 534,368 C 645.5023923444977,374.8373205741627 793.8660287081341,346.11004784689 909,321 C 1024.133971291866,295.88995215311 1106.0382775119615,274.39712918660285 1189,277 C 1271.9617224880385,279.60287081339715 1355.9808612440193,306.3014354066986 1440,333 C 1440,333 1440,500 1440,500 Z");
    }

    100% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 65.70334928229664,362.70334928229664 131.40669856459328,392.4066985645933 244,394 C 356.5933014354067,395.5933014354067 516.0765550239233,369.0765550239234 619,347 C 721.9234449760767,324.9234449760766 768.2870813397129,307.287081339713 853,319 C 937.7129186602871,330.712918660287 1060.7751196172248,371.7751196172249 1165,379 C 1269.2248803827752,386.2248803827751 1354.6124401913876,359.6124401913876 1440,333 C 1440,333 1440,500 1440,500 Z");
    }
}


.darkBgTitel {
    color: #ffff;
}


.fancy {
    background-color: transparent;
    border: 2px solid #7c2d99;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: rgb(203, 160, 210);
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: rgb(91, 34, 137);
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}


@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* ------------------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {

    -webkit-font-smoothing: antialiased;

}

.slideshow {
    position: relative;
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slideshow-container {
    background: #d895ff;
    border-radius: 2rem;
}

.slideshow-items {
    position: relative;
    width: 100%;
    height: 30rem;
}

.item {
    position: absolute;
    width: 100%;
    height: auto;
}


.item-image-container {
    position: relative;
    width: 42%;
}

.item-image-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 20rem;
    height: 15rem;
    background: #463a4a;
    opacity: 0;
    z-index: 1;
}

.item-image {
    position: relative;
    width: 20rem;
    height: 30rem;
    opacity: 0;
    display: block;
    transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
    opacity: 1;
}

.item.active .item-image-container::before {
    opacity: .8;
}

.item-description {
    font-size: 25px;
    color: white;
    line-height: 1.8;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
    position: absolute;
    top: 150px;
    left: -1.8%;
    z-index: 100;
}

.item-header .vertical-part {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 4vw;
    color: #fff;
}

.vertical-part {
    overflow: hidden;
    display: inline-block;
}

.vertical-part b {
    display: inline-block;
    transform: translateY(100%);
}

.item-header .vertical-part b {
    transition: .5s;
}

.item-description .vertical-part b {
    transition: .21s;
}

.item.active .item-header .vertical-part b {
    transform: translateY(0);
}

.item.active .item-description .vertical-part b {
    transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
    text-align: right;
    z-index: 1000;
}

.controls ul {
    list-style: none;
}

.controls ul li {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 3px;
    background: #f1f1f4;
    ;
    cursor: pointer;
}

.controls ul li.active {
    background: #c6c6d1;
    ;
}



@media (max-width: 990px) {
    .slideshow {
        height: 50rem;
    }
    .item-description{
        font-size: 15px;
    }
}