.frame {

    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(to top right, darkmagenta 0%, rgb(180, 105, 255) 100%);
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
}